<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <sharedListeners>
      <add name="log" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\log.txt" traceOutputOptions="DateTime">
       </add>
    </sharedListeners>
    <sources>
      <source name="Bisync" switchValue="All">
        <listeners>
          <!--<clear/>
          <add name="log" />-->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>